# https://goauthentik.io/blueprints/schema.json
version: 1
metadata:
    name: "Entra Telemark Alt"
    labels:
        blueprints.goauthentik.io/instantiate: "true"

entries:
    -   model: authentik_blueprints.metaapplyblueprint
        attrs:
            identifiers:
                path: custom/scopes.yaml

    -   model: authentik_core.user
        state: present
        identifiers:
            username: "jon.basic@telemark-alt.no"
        attrs:
            name: "Jon Basic"
            email: "jon.basic@telemark-alt.no"
            is_active: true
            password: "password"
            attributes:
                oid: "22222222-2222-2222-2222-222222222222"
                given_name: "Jon"
                family_name: "Basic"
                roles:
                    - "read"
                    - "write"
                    - "admin"

    -   model: authentik_providers_oauth2.oauth2provider
        state: present
        identifiers:
            name: "entra-telemark-alt-provider"
        attrs:
            client_type: "confidential"
            client_id: "entra-telemark-alt"
            client_secret: "test-secret"
            signing_key:
              !Find [
                  authentik_crypto.certificatekeypair,
                  [ name, authentik Self-signed Certificate ],
              ]
            authorization_flow:
              !Find [
                  authentik_flows.flow,
                  [ slug, default-provider-authorization-implicit-consent ],
              ]
            invalidation_flow:
              !Find [
                  authentik_flows.flow,
                  [ slug, default-provider-invalidation-flow ],
              ]
            property_mappings:
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "authentik default OAuth Mapping: OpenID 'openid'" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "authentik default OAuth Mapping: OpenID 'profile'" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "authentik default OAuth Mapping: OpenID 'email'" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [
                        name,
                        "authentik default OAuth Mapping: OpenID 'offline_access'",
                    ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "Custom OAuth Mapping: Entra OID" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "Custom OAuth Mapping: Entra Name" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "Custom OAuth Mapping: Entra Roles" ],
                ]
            redirect_uris:
                -   url: "^http://localhost:[0-9]{1,5}/realms/external/broker/entra-telemark-alt/endpoint$"
                    matching_mode: regex

                -   url: '^http://127\.0\.0\.1:[0-9]{1,5}/realms/external/broker/entra-telemark-alt/endpoint$'
                    matching_mode: regex

    -   model: authentik_core.application
        state: present
        identifiers:
            slug: "entra-telemark-alt-app"
        attrs:
            name: "Entra Telemark Alt"
            provider:
              !Find [
                  authentik_providers_oauth2.oauth2provider,
                  [ name, entra-telemark-alt-provider ],
              ]
