# https://goauthentik.io/blueprints/schema.json
version: 1
metadata:
    name: "Entra Rogaland"
    labels:
        blueprints.goauthentik.io/instantiate: "true"

entries:
    -   model: authentik_blueprints.metaapplyblueprint
        attrs:
            identifiers:
                path: custom/scopes.yaml

    -   model: authentik_core.user
        state: present
        identifiers:
            username: "alice.basic@rogaland.no"
        attrs:
            name: "Alice Basic"
            email: "alice.basic@rogaland.no"
            is_active: true
            password: "password"
            attributes:
                oid: "11111111-1111-1111-1111-111111111111"
                given_name: "Alice"
                family_name: "Basic"
                roles:
                    - "read"
                    - "write"
                    - "admin"

    -   model: authentik_core.user
        state: present
        identifiers:
            username: "jon.basic@rogaland.no"
        attrs:
            name: "Jon Basic"
            email: "jon.basic@rogaland.no"
            is_active: true
            password: "password"
            attributes:
                oid: "22222222-2222-2222-2222-222222222222"
                given_name: "Jon"
                family_name: "Basic"
                roles:
                    - "read"
                    - "write"
                    - "admin"

    -   model: authentik_providers_oauth2.oauth2provider
        state: present
        identifiers:
            name: "entra-rogaland-provider"
        attrs:
            client_type: "confidential"
            client_id: "entra-rogaland"
            client_secret: "test-secret"
            authorization_flow:
              !Find [
                  authentik_flows.flow,
                  [ slug, default-provider-authorization-implicit-consent ],
              ]
            invalidation_flow:
              !Find [
                  authentik_flows.flow,
                  [ slug, default-provider-invalidation-flow ],
              ]
            property_mappings:
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "authentik default OAuth Mapping: OpenID 'openid'" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "authentik default OAuth Mapping: OpenID 'profile'" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "authentik default OAuth Mapping: OpenID 'email'" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [
                        name,
                        "authentik default OAuth Mapping: OpenID 'offline_access'",
                    ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "Custom OAuth Mapping: Entra OID" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "Custom OAuth Mapping: Entra Name" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "Custom OAuth Mapping: Entra Roles" ],
                ]
            redirect_uris:
                -   url: http://keycloak:8080/realms/external/broker/entra-rogaland/endpoint
                    matching_mode: strict
                -   url: http://localhost:8890/realms/external/broker/entra-rogaland/endpoint
                    matching_mode: strict

    -   model: authentik_core.application
        state: present
        identifiers:
            slug: "entra-rogaland-app"
        attrs:
            name: "Entra Rogaland"
            provider:
              !Find [
                  authentik_providers_oauth2.oauth2provider,
                  [ name, entra-rogaland-provider ],
              ]
