# https://goauthentik.io/blueprints/schema.json
version: 1
metadata:
    name: "ID-Porten"
    labels:
        blueprints.goauthentik.io/instantiate: "true"

entries:
    -   model: authentik_blueprints.metaapplyblueprint
        attrs:
            identifiers:
                path: custom/scopes.yaml

    -   model: authentik_core.user
        state: present
        identifiers:
            username: "12345678901"
        attrs:
            name: "12345678901"
            is_active: true
            password: "password"

    -   model: authentik_providers_oauth2.oauth2provider
        state: present
        identifiers:
            name: "idporten-provider"
        attrs:
            client_type: "confidential"
            client_id: "idporten"
            client_secret: "test-secret"
            signing_key:
              !Find [
                  authentik_crypto.certificatekeypair,
                  [ name, authentik Self-signed Certificate ],
              ]
            authorization_flow:
              !Find [
                  authentik_flows.flow,
                  [ slug, default-provider-authorization-implicit-consent ],
              ]
            invalidation_flow:
              !Find [
                  authentik_flows.flow,
                  [ slug, default-provider-invalidation-flow ],
              ]
            property_mappings:
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "authentik default OAuth Mapping: OpenID 'openid'" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "authentik default OAuth Mapping: OpenID 'profile'" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [ name, "authentik default OAuth Mapping: OpenID 'email'" ],
                ]
                - !Find [
                    authentik_providers_oauth2.scopemapping,
                    [
                        name,
                        "authentik default OAuth Mapping: OpenID 'offline_access'",
                    ],
                ]
            redirect_uris:
                -   url: http://keycloak:8080/realms/external/broker/idporten/endpoint
                    matching_mode: strict
                -   url: http://localhost:8890/realms/external/broker/idporten/endpoint
                    matching_mode: strict

    -   model: authentik_core.application
        state: present
        identifiers:
            slug: "idporten-app"
        attrs:
            name: "ID-Porten"
            provider:
              !Find [
                  authentik_providers_oauth2.oauth2provider,
                  [ name, idporten-provider ],
              ]
