services:
    # ----------------------
    # Keycloak and its Postgres database
    # ----------------------
    keycloak:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                KEYCLOAK_VERSION: ${KEYCLOAK_VERSION}
        command: >
            start-dev
            --import-realm
            --log-level="INFO,org.keycloak.authentication.authenticators:DEBUG,no.fintlabs.authenticator:DEBUG"
        environment:
            KC_HTTP_ENABLED: "true"
            KC_HEALTH_ENABLED: "true"
            KC_DB: postgres
            KC_DB_URL_HOST: keycloak-pg
            KC_DB_URL_DATABASE: keycloak
            KC_DB_USERNAME: keycloak
            KC_DB_PASSWORD: password
            KC_DB_SCHEMA: public
            KC_BOOTSTRAP_ADMIN_USERNAME: admin
            KC_BOOTSTRAP_ADMIN_PASSWORD: admin
        volumes:
            - ./config/kc:/opt/keycloak/data/import:ro
        depends_on:
            keycloak-pg:
                condition: service_healthy
            authentik:
                condition: service_healthy
            authentik-worker:
                condition: service_healthy
        networks:
            - keycloak

    keycloak-pg:
        image: postgres:17.5
        environment:
            POSTGRES_DB: keycloak
            POSTGRES_USER: keycloak
            POSTGRES_PASSWORD: password
        healthcheck:
            test: [ "CMD-SHELL", "sh -c 'pg_isready -U keycloak -d keycloak'" ]
            interval: 10s
            timeout: 3s
            retries: 5
            start_period: 10s
        networks:
            - keycloak

    # ----------------------
    # Authentik
    # ----------------------
    authentik-pg:
        image: postgres:16-alpine
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: devpass
            POSTGRES_DB: authentik
        tmpfs:
            - /var/lib/postgresql/data
        networks:
            - keycloak

    authentik:
        image: ghcr.io/goauthentik/server:2025.10.1
        command: server
        environment:
            AUTHENTIK_SECRET_KEY: "authentik"
            AUTHENTIK_POSTGRESQL__HOST: authentik-pg
            AUTHENTIK_POSTGRESQL__USER: postgres
            AUTHENTIK_POSTGRESQL__PASSWORD: devpass
            AUTHENTIK_POSTGRESQL__NAME: authentik
        healthcheck:
            test: >
                /bin/sh -c '
                set -e;
                curl -fsS http://127.0.0.1:9000/-/health/ready/ >/dev/null;
                curl -fsS http://127.0.0.1:9000/application/o/entra-telemark-app/.well-known/openid-configuration >/dev/null;
                curl -fsS http://127.0.0.1:9000/application/o/entra-telemark-alt-app/.well-known/openid-configuration >/dev/null;
                curl -fsS http://127.0.0.1:9000/application/o/entra-rogaland-app/.well-known/openid-configuration >/dev/null;
                curl -fsS http://127.0.0.1:9000/application/o/idporten-app/.well-known/openid-configuration >/dev/null;
                '
            interval: 10s
            timeout: 5s
            retries: 30
            start_period: 10s
        depends_on: [ authentik-pg ]
        networks:
            - keycloak

    authentik-worker:
        image: ghcr.io/goauthentik/server:2025.10.1
        command: worker
        environment:
            AUTHENTIK_SECRET_KEY: "authentik"
            AUTHENTIK_POSTGRESQL__HOST: authentik-pg
            AUTHENTIK_POSTGRESQL__USER: postgres
            AUTHENTIK_POSTGRESQL__PASSWORD: devpass
            AUTHENTIK_POSTGRESQL__NAME: authentik
        depends_on: [ authentik-pg ]
        volumes: [ "./config/authentik/:/blueprints/custom/:ro" ]
        networks:
            - keycloak

networks:
    keycloak:
        driver: bridge
        name: keycloak
