name: Build and publish docker image

on:
    workflow_call:
        inputs:
            image_name:
                description: "Image name"
                required: true
                type: string
            context:
                description: "Build context"
                required: true
                type: string
            environment:
                description: "Environment"
                required: true
                type: string
            keycloak_version:
                description: "Keycloak version for Docker ARG"
                required: false
                type: string
        outputs:
            image_tags:
                description: "Docker image with tag"
                value: ${{ jobs.publish.outputs.image_tags }}

env:
    REGISTRY: ghcr.io

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        outputs:
            image_tags: ${{ steps.meta.outputs.tags }}
        steps:
            - uses: actions/checkout@v6

            - name: Log in to the Container registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set tag suffix
              id: tag_suffix
              run: echo "tag_suffix=${{ inputs.environment == 'test' && '-test' || '' }}" >> $GITHUB_OUTPUT

            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ env.REGISTRY }}/${{ inputs.image_name }}
                  tags: |
                      type=sha,prefix={{date 'YYYYMMDD'}}${{ steps.tag_suffix.outputs.tag_suffix }}-,priority=9002

            - name: Set build args
              id: build_args
              run: |
                  {
                    echo "args<<EOF"
                    if [ -n "${{ inputs.keycloak_version }}" ]; then
                      echo "KEYCLOAK_VERSION=${{ inputs.keycloak_version }}"
                    fi
                    echo "EOF"
                  } >> "$GITHUB_OUTPUT"

            - name: Build and push Docker image
              uses: docker/build-push-action@v6.18.0
              with:
                  context: ${{ inputs.context }}
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  build-args: ${{ steps.build_args.outputs.args }}

            - name: Set output
              run: echo "Docker image ${{ steps.meta.outputs.tags }}" >> $GITHUB_STEP_SUMMARY
